.lightMode {
  background-color: #edd3b1 !important;
  color: var(--blackFlow) !important;
}
.lightMode a,
.lightMode h1, .lightMode h2, .lightMode h3, .lightMode h4, .lightMode h5, .lightMode h6, .lightMode p, .lightMode span {
  color: var(--blackFlow) !important;
}

.active {
  text-decoration: underline !important;
  text-decoration-color: rgb(255, 51, 51) !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 4px !important;
}

.activeToggle {
  background-color: #749DD6 !important;
}

.activeToggleHandler {
  background-color: #FFE5B5 !important;
  transform: translate3d(40px, 0, 0) rotate(0) !important;
}

.colorBlack {
  color: #000 !important;
  transition: 0.3s ease-in-out !important;
}

.expanded {
  width: 100% !important;
  transition: 0.2s ease-in-out !important;
  transition-delay: 0.6s !important;
  visibility: visible !important;
}

.openMenu {
  top: 0 !important;
  height: 55vh !important;
  transition: 0.6s ease-in-out !important;
  transition-delay: 0.1s !important;
}

.visibility {
  visibility: visible !important;
  transition: 0.6s ease-in-out !important;
  transition-delay: 0.5s !important;
  height: auto !important;
}

.btnMob {
  visibility: visible !important;
  transition: 1s ease-in-out !important;
  transition-delay: 0.9s !important;
}

@keyframes loader {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-320%);
  }
}
.shadow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: var(--blackFlow);
  z-index: 2;
}

.reduce {
  height: 80vh !important;
}
@media screen and (max-width: 600px) {
  .reduce {
    height: 66vh !important;
  }
}

.max {
  width: 100% !important;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.slick1, .slick2, .slick3 {
  position: relative;
}

.btnContact {
  background-color: var(--orange);
  display: inline-block;
  padding: 15px 20px;
  border: none;
  margin-top: 10px;
  width: 100%;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .btnContact {
    margin-top: 20px;
    font-size: 16px;
  }
}

#_checkbox {
  display: none;
}

label {
  position: absolute;
  top: 36%;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: var(--orange);
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}

label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.2s ease width, 0.2s ease height;
}

label:hover:before {
  width: 55px;
  height: 55px;
  box-shadow: inset 0 7px 10px var(--orange);
}

label:active {
  transform: translateY(-50%) scale(0.9);
}

#tick_mark {
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-left: 14px;
  transform: rotateZ(-40deg);
}

#tick_mark:before,
#tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before {
  left: 0;
  bottom: 0;
  width: 10px;
  height: 30px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-68px);
}

#tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(78px);
}

#_checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}

#_checkbox:checked + label:before {
  width: 0;
  height: 0;
}

#_checkbox:checked + label #tick_mark:before,
#_checkbox:checked + label #tick_mark:after {
  transform: translate(0);
  opacity: 1;
}

.iconSocial {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: 10px;
}/*# sourceMappingURL=onUpdate.css.map */