@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --beige: #b7ab98;
  --chiaro: hsla(37, 18%, 66%, 0.5);
  --rouge: #eb5939;
  --bianco: #fff;
  --verde: #44e3bb;
  --nero: #080808;
  --grey: hsla(37, 18%, 66%, 0.356);
}

html {
  overscroll-behavior-y: none !important;
}

body {
  background-color: var(--nero);
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overscroll-behavior-y: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

.outline {
  width: 60px;
  height: 60px;
  mix-blend-mode: difference;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  position: fixed;
  pointer-events: none;
  left: 0px;
  top: 0px;
  z-index: 999999;
  display: none;
  background-color: var(--rouge);
  transform: translate(-64px, -64px);
  border: 1px solid var(--rouge);
}

.cursor {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--rouge);
  position: fixed;
  left: 0px;
  top: 0px;
  pointer-events: none;
  z-index: 999999;
  transform: translate(50vw, -100px);
}

.outline.hover {
  width: 560px;
  height: 560px;
  background-color: var(--rouge);
}

.cursor.hover {
  opacity: 0;
}

@media (max-width: 768px) {
  .cursor,
  .outline {
    display: none;
  }
}
.noHide {
  overflow: visible !important;
  transition: 0.4s ease-in-out !important;
}

.scroll-text {
  background: linear-gradient(to right, var(--beige), var(--beige)) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
}

@media screen and (max-width: 1024px) {
  .visibile {
    opacity: 1 !important;
    transition: all 0.4s ease-in-out !important;
  }
}

.active {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
  transform: translateY(20px) !important;
}

.block {
  display: block !important;
}
@media screen and (max-width: 1024px) {
  .block {
    display: none !important;
  }
}

.activeMessage {
  opacity: 1 !important;
  display: block !important;
}

.overlayScreen {
  display: none;
}
@media screen and (max-width: 1024px) {
  .overlayScreen {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(21, 21, 22) 50%) !important;
    transition: all 0.2s ease-in-out !important;
    position: fixed;
    bottom: -2%;
    left: -2%;
    width: 110%;
    height: 19%;
    transform: rotate(-3deg);
    z-index: 10;
    display: block;
    opacity: 0;
  }
}

.container {
  position: relative;
  max-width: 2500px;
  margin: 0 auto;
}
.container h4 {
  font-size: 1.1vw;
  line-height: 2.2vw;
}
@media screen and (max-width: 600px) {
  .container h4 {
    font-size: 4vw;
    line-height: 7vw;
  }
}
.container h1 {
  font-size: 4vw;
  line-height: 4.9vw;
}
@media screen and (max-width: 600px) {
  .container h1 {
    font-size: 8vw;
    line-height: 9.7vw;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 30px;
  left: 0;
  padding: 0 6vw;
  z-index: 4;
}
@media screen and (max-width: 600px) {
  header {
    padding: 0 20px;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  padding: 10px;
  margin-left: 0px;
}
header .container .logo p {
  color: white;
}
header .container .menu {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}
header .container .menu a {
  color: white;
  font-size: 1vw;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  header .container .menu a {
    font-size: 1.6vw;
    line-height: 2.3vw;
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  header .container .menu a {
    font-size: 3vw;
    line-height: 5vw;
  }
}
header .container .menu a:hover {
  color: var(--grey);
  transition: 0.3s ease-in-out;
}

.border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.activePage {
  color: var(--rouge) !important;
  background-color: var(--beige);
  padding: 2px 4px;
  border-radius: 2px;
}

.press {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  z-index: 20;
  display: none;
  background-color: transparent;
}
@media screen and (max-width: 1024px) {
  .press {
    display: block !important;
    bottom: 5%;
  }
}
.press .pressIcon {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.press .pressIcon .svg {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.press .pressIcon .svg svg {
  fill: var(--rouge);
  pointer-events: none;
}
.press .pressIcon .svg img {
  pointer-events: none;
}
.press .pressIcon .pressText {
  transform-origin: center;
  animation: loader 5s infinite linear;
  aspect-ratio: 1;
  pointer-events: none;
}
@keyframes loader {
  from {
    transform: rotate(-360deg);
    transform-origin: center;
  }
}
.press .fullScreen {
  position: absolute;
  width: 77px;
  height: 77px;
  transition: all 0.2s ease-in-out;
  -webkit-clip-path: circle(0px at 50% 50%);
          clip-path: circle(0px at 50% 50%);
  background-color: transparent;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .homepage {
    height: 85vh;
  }
}
.homepage .hero {
  width: 80%;
  height: 500px;
  position: relative;
}
.homepage .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  filter: grayscale(1);
}
@media screen and (max-width: 600px) {
  .homepage .hero img {
    border-radius: 0 !important;
  }
}
.homepage .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--rouge);
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 600px) {
  .homepage .slider {
    height: 97%;
  }
}
.homepage .textArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  height: 150px;
}
.homepage .textArea span {
  font-size: 4vw;
  line-height: 4vw;
}
@media screen and (max-width: 600px) {
  .homepage .textArea span {
    font-size: 8vw;
    line-height: 8vw;
  }
}
.homepage .textArea .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transform: translateY(0);
}
@media screen and (max-width: 1024px) {
  .homepage .textArea {
    width: 100%;
  }
}
.homepage .social {
  position: fixed;
  left: 2%;
  bottom: 29%;
  width: 26px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  .homepage .social {
    display: none;
  }
}
.homepage .social .icon {
  width: 100%;
  margin: 10px 0;
  transition: all 0.4s ease-in-out;
}
.homepage .social .icon svg {
  width: 100%;
  fill: var(--beige);
}

.text_scorrevole {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .text_scorrevole {
    position: relative;
  }
}
.text_scorrevole ul {
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slowed 100s infinite linear;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .text_scorrevole ul {
    animation: slowed 40s infinite linear;
  }
}
.text_scorrevole ul li {
  color: var(--beige);
  font-size: 11vw;
  line-height: 16vw;
}
@media screen and (max-width: 600px) {
  .text_scorrevole ul li {
    font-size: 22vw;
    line-height: 27vw;
  }
}
.text_scorrevole ul span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--beige);
}
@keyframes slowed {
  to {
    transform: translateX(-100%);
  }
}

.about {
  position: relative;
}
.about .container {
  position: relative;
  padding: 18vw 20px;
  max-width: 80%;
}
@media screen and (max-width: 1024px) {
  .about .container {
    padding: 18vw 0px;
  }
}
@media screen and (max-width: 767px) {
  .about .container {
    max-width: 100%;
    padding: 10vw 20px;
  }
}
.about .container h4 {
  color: var(--grey);
}
.about .container h1 {
  color: var(--grey);
}
.about .container span {
  color: var(--rouge);
  font-weight: 500;
  font-style: italic;
}

.openScreen {
  width: 2400px !important;
  height: 2400px !important;
  transition: -webkit-clip-path 1s !important;
  transition: clip-path 1s !important;
  transition: clip-path 1s, -webkit-clip-path 1s !important;
  -webkit-clip-path: circle(200% at 100% 100%) !important;
          clip-path: circle(200% at 100% 100%) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12 !important;
  background-color: var(--rouge) !important;
}

.activeSecond {
  opacity: 1 !important;
  z-index: 21 !important;
  transition: all 0.2s ease-in-out;
}

.secondMessage {
  position: absolute;
  padding: 40px 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  display: none;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .secondMessage .title {
    width: 100% !important;
  }
}
@media screen and (max-width: 1024px) {
  .secondMessage {
    display: block;
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .secondMessage {
    padding: 40px 20px;
    width: 100%;
  }
}
.secondMessage h4,
.secondMessage h1,
.secondMessage p {
  color: var(--nero) !important;
}
@media screen and (max-width: 600px) {
  .secondMessage h4 {
    font-size: 4vw;
    line-height: 7vw;
  }
}
@media screen and (max-width: 600px) {
  .secondMessage h1 {
    font-size: 8vw;
    line-height: 9.7vw;
  }
}
.secondMessage .wrapSkill .skill {
  position: relative;
  border-top: 1px solid var(--nero) !important;
  border-bottom: 1px solid var(--nero) !important;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .secondMessage .wrapSkill .skill {
    padding: 1.2vw 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .secondMessage .wrapSkill .skill {
    padding: 1.4vw 0 !important;
  }
}
@media screen and (max-width: 300px) {
  .secondMessage .wrapSkill .skill p {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  .secondMessage .wrapSkill .skill p {
    font-size: 3.4vw;
  }
}
.secondMessage .wrapHistory .wrapperStory {
  width: 100%;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2% 0;
  border-bottom: 1px solid var(--nero);
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapHistory .wrapperStory {
    padding: 5% 0;
  }
}
.secondMessage .wrapHistory .wrapperStory .wrapInfo1 {
  width: 30%;
}
.secondMessage .wrapHistory .wrapperStory .wrapInfo1 span {
  color: var(--nero);
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapHistory .wrapperStory .wrapInfo1 span {
    font-size: 4.8vw;
  }
}
.secondMessage .wrapHistory .wrapperStory .wrapInfo1 p {
  color: var(--nero);
  font-size: 1.2vw;
}
.secondMessage .wrapHistory .wrapperStory .wrapInfo2 {
  width: 70%;
  text-align: center;
}
.secondMessage .wrapHistory .wrapperStory .wrapInfo2 span {
  color: var(--nero);
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapHistory .wrapperStory .wrapInfo2 span {
    font-size: 4.8vw;
  }
}
.secondMessage .wrapHistory .wrapperStory .wrapInfo2 p {
  color: var(--nero);
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapHistory .wrapperStory .wrapInfo2 p {
    font-size: 3.2vw;
  }
}
.secondMessage .wrapContact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapContact {
    flex-wrap: wrap;
  }
}
.secondMessage .wrapContact .wrapsSocial {
  width: 33%;
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapContact .wrapsSocial {
    width: 100%;
  }
}
.secondMessage .wrapContact .wrapsSocial h5 {
  color: var(--nero) !important;
  font-size: 1.2vw;
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapContact .wrapsSocial h5 {
    font-size: 5.2vw;
  }
}
.secondMessage .wrapContact .wrapsSocial .normalFont {
  color: var(--nero) !important;
  font-size: 0.8vw;
}
@media screen and (max-width: 1024px) {
  .secondMessage .wrapContact .wrapsSocial .normalFont {
    font-size: 1vw;
  }
}
@media screen and (max-width: 767px) {
  .secondMessage .wrapContact .wrapsSocial .normalFont {
    font-size: 3vw;
  }
}
.secondMessage .wrapContact .wrapsSocial .after {
  width: 100%;
  height: 100%;
}
.secondMessage .wrapContact .wrapsSocial .after a {
  color: var(--nero) !important;
  margin: 0 !important;
  opacity: 1;
}

.skills {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .skills {
    padding: 30px 0;
  }
}
@media screen and (max-width: 600px) {
  .skills {
    padding: 50px 0 0;
    margin: 10vw 0;
  }
}
.skills .cupCoffe {
  position: absolute;
  left: -12%;
  top: 13%;
  z-index: 1;
  transform: translateY(-50%);
  transform-origin: center;
  transform: rotate(45deg);
}
@media screen and (max-width: 1800px) {
  .skills .cupCoffe {
    left: -16%;
  }
}
@media screen and (max-width: 1650px) {
  .skills .cupCoffe {
    left: -19%;
  }
}
@media screen and (max-width: 1360px) {
  .skills .cupCoffe {
    width: 33%;
  }
}
@media screen and (max-width: 1024px) {
  .skills .cupCoffe {
    left: unset;
    right: -16%;
    width: 40%;
    top: 5%;
    transform: rotate(5deg);
  }
}
@media screen and (max-width: 600px) {
  .skills .cupCoffe {
    top: 16%;
    width: 60%;
    right: -24%;
  }
}
.skills .container {
  padding: 0;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .skills .container {
    padding: 0 20px;
  }
}
.skills .container .title {
  padding: 0 10.8%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .skills .container .title {
    padding: 0;
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .skills .container .title {
    width: 100%;
  }
}
.skills .container .title h4 {
  color: var(--beige);
}
.skills .container .wrapSkill .skill {
  position: relative;
  border-top: 1px solid var(--beige);
  border-bottom: 1px solid var(--beige);
  padding: 0 10.5%;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 767px) {
  .skills .container .wrapSkill .skill {
    padding: 0;
  }
}
.skills .container .wrapSkill .skill span {
  font-size: 5vw;
  line-height: 5.7vw;
  cursor: pointer;
  margin: 0;
  color: var(--grey);
  background: linear-gradient(to right, var(--beige), var(--beige)) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
}
@media screen and (max-width: 600px) {
  .skills .container .wrapSkill .skill span {
    font-size: 9vw;
    line-height: 12vw;
  }
}
.skills .container .wrapSkill .skill .after {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  left: 50%;
  z-index: 2;
  width: 100%;
  height: 0%;
  opacity: 0;
  display: flex;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .skills .container .wrapSkill .skill .after {
    display: none;
  }
}
.skills .container .wrapSkill .skill .after .content:nth-child(1) {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10.5%;
}
.skills .container .wrapSkill .skill .after .content:nth-child(2) {
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10.5%;
}
.skills .container .wrapSkill .skill .after .content p {
  font-size: 1.6;
}
.skills .container .wrapSkill .skill .after .content span {
  color: #151516;
}
.skills .container .wrapSkill .skill:hover .after {
  height: 100%;
  opacity: 1;
  transition: 0.4s ease-in-out;
  background-color: var(--rouge);
}

.experience {
  margin: 10vw 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .experience {
    margin: 7vw 0;
    height: 80vh;
  }
}
@media screen and (max-width: 600px) {
  .experience {
    min-height: 600px;
    margin: 20vw 0 10vw;
  }
}
.experience .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.experience .container video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .experience .container video {
    height: 80vh;
  }
}
@media screen and (max-width: 600px) {
  .experience .container video {
    min-height: 500px;
  }
}
.experience .container .textExperience {
  position: relative;
  width: 80%;
  z-index: 3;
  padding: 0 10px;
}
@media screen and (max-width: 767px) {
  .experience .container .textExperience {
    width: 95%;
  }
}
.experience .container .textExperience h4 {
  color: var(--beige);
}
.experience .container .textExperience h1 {
  color: var(--grey);
}
.experience .container .textExperience span {
  color: var(--rouge);
  font-weight: 500;
  font-style: italic;
}
.experience .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.888);
  z-index: 2;
  opacity: 0.9;
}
@media screen and (max-width: 1024px) {
  .experience .container::after {
    height: 80vh;
  }
}

.history {
  padding: 30px 0 150px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .history {
    padding: 30px 0 120px;
  }
}
.history .container {
  padding: 0;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .history .container {
    padding: 0 20px;
  }
}
.history .container .title {
  padding: 0 10.8%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .history .container .title {
    padding: 0;
  }
}
.history .container .title h4 {
  color: var(--beige);
}
.history .container .wrapHistory .story {
  position: relative;
  border-bottom: 1px solid var(--beige);
  padding: 1% 0;
}
.history .container .wrapHistory .story .wrapperStory {
  width: 79%;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .history .container .wrapHistory .story .wrapperStory {
    width: 100%;
    padding: 5% 0;
  }
}
.history .container .wrapHistory .story .wrapInfo1 {
  width: 30%;
}
.history .container .wrapHistory .story .wrapInfo1 span {
  font-size: 1.9vw;
  line-height: 2vw;
  cursor: pointer;
  margin: 0;
  color: var(--grey);
}
@media screen and (max-width: 600px) {
  .history .container .wrapHistory .story .wrapInfo1 span {
    font-size: 4.8vw;
  }
}
.history .container .wrapHistory .story .wrapInfo1 p {
  color: var(--grey);
  font-size: 1.2vw;
}
.history .container .wrapHistory .story .wrapInfo2 {
  width: 70%;
  text-align: center;
}
.history .container .wrapHistory .story .wrapInfo2 span {
  font-size: 1.9vw;
  line-height: 2vw;
  cursor: pointer;
  margin: 0;
  color: var(--grey);
}
@media screen and (max-width: 600px) {
  .history .container .wrapHistory .story .wrapInfo2 span {
    font-size: 4.8vw;
  }
}
.history .container .wrapHistory .story .wrapInfo2 p {
  color: var(--grey);
  font-size: 1.2vw;
}
@media screen and (max-width: 600px) {
  .history .container .wrapHistory .story .wrapInfo2 p {
    font-size: 2.8vw;
  }
}
.history .container .wrapHistory .story .after {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  left: 50%;
  z-index: 2;
  width: 100%;
  height: 0%;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .history .container .wrapHistory .story .after {
    display: none;
  }
}
.history .container .wrapHistory .story .after .wrapInfo1 {
  width: 30%;
}
.history .container .wrapHistory .story .after .wrapInfo1 span {
  font-size: 1.9vw;
  line-height: 2vw;
  cursor: pointer;
  margin: 0;
  color: var(--nero);
}
.history .container .wrapHistory .story .after .wrapInfo1 p {
  color: var(--nero);
  font-size: 1.2vw;
}
@media screen and (max-width: 600px) {
  .history .container .wrapHistory .story .after .wrapInfo1 p {
    font-size: 2.8vw;
  }
}
.history .container .wrapHistory .story .after .wrapInfo2 {
  width: 70%;
  text-align: center;
}
.history .container .wrapHistory .story .after .wrapInfo2 span {
  font-size: 1.9vw;
  line-height: 2vw;
  cursor: pointer;
  margin: 0;
  color: var(--nero);
}
.history .container .wrapHistory .story .after .wrapInfo2 p {
  color: var(--nero);
}
.history .container .wrapHistory .story:hover .after {
  height: 100%;
  opacity: 1;
  transition: 0.4s ease-in-out;
  background-color: var(--rouge);
}

.pensiero {
  width: 100%;
  height: 100vh;
  background-image: url("../media/IMG_6244.jpg");
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  text-align: center;
  text-wrap: balance;
}
.pensiero .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 80vh;
  max-width: 44%;
  min-height: 600px;
}
@media screen and (max-width: 600px) {
  .pensiero .container {
    max-width: 100%;
  }
}
.pensiero .container h4,
.pensiero .container h1,
.pensiero .container h5 {
  color: var(--rouge);
}
@media screen and (max-width: 1024px) {
  .pensiero .container h4 {
    font-size: 2.1vw;
    line-height: 4.2vw;
  }
}
@media screen and (max-width: 600px) {
  .pensiero .container h4 {
    font-size: 6.1vw;
    line-height: 6.7vw;
  }
}
.pensiero .container h1 {
  font-size: 3vw;
  line-height: 3.4vw;
  margin-bottom: 11px;
}
@media screen and (max-width: 1024px) {
  .pensiero .container h1 {
    font-size: 5vw;
    line-height: 5.7vw;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 600px) {
  .pensiero .container h1 {
    font-size: 11vw;
    line-height: 13vw;
    margin-bottom: 8px;
  }
}
.pensiero .container .secondMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 80vh;
  width: 100% !important;
}
@media screen and (max-width: 767px) {
  .pensiero .container .secondMessage {
    padding: 40px 0 10px !important;
  }
}

.contatti {
  padding: 100px 0;
}
@media screen and (max-width: 1024px) {
  .contatti {
    padding: 100px 0 124px;
  }
}
@media screen and (max-width: 600px) {
  .contatti {
    padding: 50px 0 200px;
  }
}
.contatti .container {
  max-width: 80%;
}
@media screen and (max-width: 767px) {
  .contatti .container {
    max-width: 100%;
    padding: 0 35px;
  }
}
.contatti .container h4 {
  color: var(--beige);
}
.contatti .container .wrapContact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .contatti .container .wrapContact {
    flex-wrap: wrap;
  }
}
.contatti .container .wrapContact .wrapsSocial {
  width: 33%;
}
@media screen and (max-width: 767px) {
  .contatti .container .wrapContact .wrapsSocial {
    width: 100%;
  }
}
.contatti .container .wrapContact .wrapsSocial h5 {
  color: var(--beige);
  font-size: 1.2vw;
}
@media screen and (max-width: 767px) {
  .contatti .container .wrapContact .wrapsSocial h5 {
    font-size: 5.2vw;
  }
}
.contatti .container .wrapContact .wrapsSocial .normalFont {
  color: var(--chiaro);
  font-size: 0.8vw;
}
@media screen and (max-width: 1024px) {
  .contatti .container .wrapContact .wrapsSocial .normalFont {
    font-size: 1vw;
  }
}
@media screen and (max-width: 767px) {
  .contatti .container .wrapContact .wrapsSocial .normalFont {
    font-size: 3vw;
  }
}
.contatti .container .wrapContact .wrapsSocial .normalFont::before {
  background-image: unset;
}
.contatti .container .wrapContact .wrapsSocial a {
  position: relative;
  color: var(--beige);
  font-size: 2vw;
}
@media screen and (max-width: 767px) {
  .contatti .container .wrapContact .wrapsSocial a {
    font-size: 6vw;
  }
}
.contatti .container .wrapContact .wrapsSocial a::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: -18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../media/contact_link.svg");
}
@media screen and (max-width: 767px) {
  .contatti .container .wrapContact .wrapsSocial a::before {
    left: -24px;
  }
}
.contatti .container .wrapContact .wrapsSocial .itemSocial {
  position: relative;
}
.contatti .container .wrapContact .wrapsSocial .itemSocial .after {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  left: 50%;
  z-index: 2;
  width: 100%;
  height: 0%;
  opacity: 0;
  transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  background-color: var(--rouge);
}
.contatti .container .wrapContact .wrapsSocial .itemSocial .after a {
  margin: 0 !important;
  opacity: 0;
  transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.2s;
}
@media screen and (max-width: 1024px) {
  .contatti .container .wrapContact .wrapsSocial .itemSocial .after {
    display: none;
  }
}
.contatti .container .wrapContact .wrapsSocial .itemSocial:hover .after {
  height: 100%;
  transform-origin: center;
  opacity: 1;
  transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
  background-color: var(--rouge);
}
.contatti .container .wrapContact .wrapsSocial .itemSocial:hover .after a {
  color: var(--nero);
  font-size: 2vw;
  opacity: 1;
  transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
}
@media screen and (max-width: 767px) {
  .contatti .container .wrapContact .wrapsSocial .itemSocial:hover .after a {
    font-size: 6vw;
  }
}
@media screen and (max-width: 1024px) {
  .contatti .container .secondMessage {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */