@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --beige: #b7ab98;
  --chiaro: hsla(37, 18%, 66%, 0.5);
  --rouge: #eb5939;
  --bianco: #fff;
  --verde: #44e3bb;
  --nero: #080808;
  --grey: hsla(37, 18%, 66%, 0.356);
}
html {
  overscroll-behavior-y: none !important;
}
body {
  background-color: var(--nero);
  font-family: "Poppins", sans-serif;
  user-select: none;
  overscroll-behavior-y: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
video {
  max-width: 100%;
  height: auto;
}
li,
a {
  text-decoration: none;
  list-style: none;
}

.outline {
  width: 60px;
  height: 60px;
  mix-blend-mode: difference;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  position: fixed;
  pointer-events: none;
  left: 0px;
  top: 0px;
  z-index: 999999;
  display: none;
  background-color: var(--rouge);
  transform: translate(-64px, -64px);
  border: 1px solid var(--rouge);
}

.cursor {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--rouge);
  position: fixed;
  left: 0px;
  top: 0px;
  pointer-events: none;
  z-index: 999999;
  transform: translate(50vw, -100px);
}

.outline.hover {
  width: 560px;
  height: 560px;
  background-color: var(--rouge);
}

.cursor.hover {
  opacity: 0;
}

@media (max-width: 768px) {
  .cursor,
  .outline {
    display: none;
  }
}
.noHide {
  overflow: visible !important;
  transition: 0.4s ease-in-out !important;
}
.scroll-text {
  background: linear-gradient(to right, var(--beige), var(--beige)) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
}
.visibile {
  @media screen and (max-width: 1024px) {
    opacity: 1 !important;
    transition: all 0.4s ease-in-out !important;
  }
}
.active {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
  transform: translateY(20px) !important;
}
.block {
  display: block !important;
  @media screen and (max-width: 1024px) {
    display: none !important;
  }
}
.activeMessage {
  opacity: 1 !important;
  display: block !important;
}
.overlayScreen {
  display: none;
  @media screen and (max-width: 1024px) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(21, 21, 22) 50%) !important;
    transition: all 0.2s ease-in-out !important;
    position: fixed;
    bottom: -2%;
    left: -2%;
    width: 110%;
    height: 19%;
    transform: rotate(-3deg);
    z-index: 10;
    display: block;
    opacity: 0;
  }
}

.container {
  position: relative;
  max-width: 2500px;
  margin: 0 auto;
  h4 {
    font-size: 1.1vw;
    line-height: 2.2vw;
    @media screen and (max-width: 600px) {
      font-size: 4vw;
      line-height: 7vw;
    }
  }
  h1 {
    font-size: 4vw;
    line-height: 4.9vw;
    @media screen and (max-width: 600px) {
      font-size: 8vw;
      line-height: 9.7vw;
    }
  }
}
header {
  position: fixed;
  width: 100%;
  top: 30px;
  left: 0;
  padding: 0 6vw;
  z-index: 4;
  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      padding: 10px;
      margin-left: 0px;
      p {
        color: white;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      margin-right: 0px;
      a {
        color: white;
        font-size: 1vw;
        transition: 0.3s ease-in-out;
        @media screen and (max-width: 1024px) {
          font-size: 1.6vw;
          line-height: 2.3vw;
          margin-right: 0;
        }
        @media screen and (max-width: 600px) {
          font-size: 3vw;
          line-height: 5vw;
        }
        &:hover {
          color: var(--grey);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
.border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.activePage {
  color: var(--rouge) !important;
  background-color: var(--beige);
  padding: 2px 4px;
  border-radius: 2px;
}
.press {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  z-index: 20;
  display: none;
  background-color: transparent;
  @media screen and (max-width: 1024px) {
    display: block !important;
    bottom: 5%;
  }
  .pressIcon {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      svg {
        fill: var(--rouge);
        pointer-events: none;
      }
      img {
        pointer-events: none;
      }
    }
    .pressText {
      transform-origin: center;
      animation: loader 5s infinite linear;
      aspect-ratio: 1;
      pointer-events: none;
      @keyframes loader {
        from {
          transform: rotate(-360deg);
          transform-origin: center;
        }
      }
    }
  }
  .fullScreen {
    position: absolute;
    width: 77px;
    height: 77px;
    transition: all 0.2s ease-in-out;
    clip-path: circle(0px at 50% 50%);
    background-color: transparent;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    height: 85vh;
  }
  .hero {
    width: 80%;
    height: 500px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
      filter: grayscale(1);
      @media screen and (max-width: 600px) {
        border-radius: 0 !important;
      }
    }
  }
  .slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--rouge);
    width: 100%;
    z-index: -1;
    @media screen and (max-width: 600px) {
      height: 97%;
    }
  }
  .textArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    height: 150px;
    span {
      font-size: 4vw;
      line-height: 4vw;
      @media screen and (max-width: 600px) {
        font-size: 8vw;
        line-height: 8vw;
      }
    }
    .info {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 0;
      transform: translateY(0);
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  .social {
    position: fixed;
    left: 2%;
    bottom: 29%;
    width: 26px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 4;
    @media screen and (max-width: 767px) {
      display: none;
    }
    .icon {
      width: 100%;
      margin: 10px 0;
      transition: all 0.4s ease-in-out;
      svg {
        width: 100%;
        fill: var(--beige);
      }
    }
  }
}
.text_scorrevole {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: 1;
  @media screen and (max-width: 600px) {
    position: relative;
  }
  ul {
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slowed 100s infinite linear;
    gap: 20px;
    @media screen and (max-width: 600px) {
      animation: slowed 40s infinite linear;
    }
    li {
      color: var(--beige);
      font-size: 11vw;
      line-height: 16vw;
      @media screen and (max-width: 600px) {
        font-size: 22vw;
        line-height: 27vw;
      }
    }
    span {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: italic;
      color: var(--beige);
    }
  }
  @keyframes slowed {
    to {
      transform: translateX(-100%);
    }
  }
}
.about {
  position: relative;
  .container {
    position: relative;
    padding: 18vw 20px;
    max-width: 80%;
    @media screen and (max-width: 1024px) {
      padding: 18vw 0px;
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 10vw 20px;
    }

    h4 {
      color: var(--grey);
    }
    h1 {
      color: var(--grey);
    }
    span {
      color: var(--rouge);
      font-weight: 500;
      font-style: italic;
    }
  }
}
.openScreen {
  width: 2400px !important;
  height: 2400px !important;
  transition: clip-path 1s !important;
  clip-path: circle(200% at 100% 100%) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12 !important;
  background-color: var(--rouge) !important;
  // transition: 0.3s ease-in-out!important;
}
.activeSecond {
  opacity: 1 !important;
  z-index: 21 !important;
  transition: all 0.2s ease-in-out;
}
.secondMessage {
  position: absolute;
  padding: 40px 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  display: none;
  transition: all 0.2s ease-in-out;
  .title {
    @media screen and (max-width: 1024px) {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 1024px) {
    display: block;
    width: 80%;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 20px;
    width: 100%;
  }
  h4,
  h1,
  p {
    color: var(--nero) !important;
  }
  h4 {
    @media screen and (max-width: 600px) {
      font-size: 4vw;
      line-height: 7vw;
    }
  }
  h1 {
    @media screen and (max-width: 600px) {
      font-size: 8vw;
      line-height: 9.7vw;
    }
  }
  .wrapSkill {
    .skill {
      position: relative;
      border-top: 1px solid var(--nero) !important;
      border-bottom: 1px solid var(--nero) !important;
      transition: 0.4s ease-in-out;
      @media screen and (max-width: 1024px) {
        padding: 1.2vw 0 !important;
      }
      @media screen and (max-width: 600px) {
        padding: 1.4vw 0 !important;
      }
      p {
        @media screen and (max-width: 300px) {
          font-size: 2.5vw;
        }
        @media screen and (max-width: 600px) {
          font-size: 3.4vw;
        }
      }
    }
  }
  .wrapHistory {
    .wrapperStory {
      width: 100%;
      transition: 0.4s ease-in-out;
      display: flex;
      align-items: center;
      position: relative;
      padding: 2% 0;
      border-bottom: 1px solid var(--nero);
      @media screen and (max-width: 767px) {
        padding: 5% 0;
      }
      .wrapInfo1 {
        width: 30%;
        span {
          color: var(--nero);
          @media screen and (max-width: 767px) {
            font-size: 4.8vw;
          }
        }
        p {
          color: var(--nero);
          font-size: 1.2vw;
        }
      }
      .wrapInfo2 {
        width: 70%;
        text-align: center;
        span {
          color: var(--nero);
          @media screen and (max-width: 767px) {
            font-size: 4.8vw;
          }
        }
        p {
          color: var(--nero);
          @media screen and (max-width: 767px) {
            font-size: 3.2vw;
          }
        }
      }
    }
  }
  .wrapContact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    .wrapsSocial {
      width: 33%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      h5 {
        color: var(--nero) !important;
        font-size: 1.2vw;
        @media screen and (max-width: 767px) {
          font-size: 5.2vw;
        }
      }
      .normalFont {
        color: var(--nero) !important;
        font-size: 0.8vw;
        @media screen and (max-width: 1024px) {
          font-size: 1vw;
        }
        @media screen and (max-width: 767px) {
          font-size: 3vw;
        }
      }
      .after {
        width: 100%;
        height: 100%;
        a {
          color: var(--nero) !important;
          margin: 0 !important;
          opacity: 1;
        }
      }
    }
  }
}
.skills {
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    padding: 30px 0;
  }
  @media screen and (max-width: 600px) {
    padding: 50px 0 0;
    margin: 10vw 0;
  }
  .cupCoffe {
    position: absolute;
    left: -12%;
    top: 13%;
    z-index: 1;
    transform: translateY(-50%);
    transform-origin: center;
    transform: rotate(45deg);
    @media screen and (max-width: 1800px) {
      left: -16%;
    }
    @media screen and (max-width: 1650px) {
      left: -19%;
    }
    @media screen and (max-width: 1360px) {
      width: 33%;
    }
    @media screen and (max-width: 1024px) {
      left: unset;
      right: -16%;
      width: 40%;
      top: 5%;
      transform: rotate(5deg);
    }
    @media screen and (max-width: 600px) {
      top: 16%;
      width: 60%;
      right: -24%;
    }
  }
  .container {
    padding: 0;
    max-width: 100%;
    @media screen and (max-width: 767px) {
      padding: 0 20px;
    }
    .title {
      padding: 0 10.8%;
      position: relative;
      @media screen and (max-width: 1024px) {
        padding: 0;
        width: 80%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      h4 {
        color: var(--beige);
      }
    }
    .wrapSkill {
      .skill {
        position: relative;
        border-top: 1px solid var(--beige);
        border-bottom: 1px solid var(--beige);
        padding: 0 10.5%;
        transition: 0.4s ease-in-out;
        @media screen and (max-width: 767px) {
          padding: 0;
        }
        span {
          font-size: 5vw;
          line-height: 5.7vw;
          cursor: pointer;
          margin: 0;
          color: var(--grey);
          background: linear-gradient(to right, var(--beige), var(--beige)) no-repeat;
          -webkit-background-clip: text;
          background-clip: text;
          background-size: 0%;
          transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
          @media screen and (max-width: 600px) {
            font-size: 9vw;
            line-height: 12vw;
          }
        }
        .after {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transform-origin: center;
          left: 50%;
          z-index: 2;
          width: 100%;
          height: 0%;
          opacity: 0;
          display: flex;
          transition: 0.4s ease-in-out;
          @media screen and (max-width: 1024px) {
            display: none;
          }
          .content {
            &:nth-child(1) {
              position: relative;
              width: 60%;
              display: flex;
              align-items: center;
              padding: 0px 0px 0px 10.5%;
            }
            &:nth-child(2) {
              position: relative;
              width: 40%;
              display: flex;
              align-items: center;
              padding: 0px 10px 0px 10.5%;
            }
            p {
              font-size: 1.6;
            }
            span {
              color: #151516;
            }
          }
        }
        &:hover {
          .after {
            height: 100%;
            opacity: 1;
            transition: 0.4s ease-in-out;
            background-color: var(--rouge);
          }
        }
      }
    }
  }
}
.experience {
  margin: 10vw 0;
  position: relative;
  width: 100%;
  height: 100vh;
  @media screen and (max-width: 1024px) {
    margin: 7vw 0;
    height: 80vh;
  }
  @media screen and (max-width: 600px) {
    min-height: 600px;
    margin: 20vw 0 10vw;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      @media screen and (max-width: 1024px) {
        height: 80vh;
      }
      @media screen and (max-width: 600px) {
        min-height: 500px;
      }
    }
    .textExperience {
      position: relative;
      width: 80%;
      z-index: 3;
      padding: 0 10px;
      @media screen and (max-width: 767px) {
        width: 95%;
      }
      h4 {
        color: var(--beige);
      }
      h1 {
        color: var(--grey);
      }
      span {
        color: var(--rouge);
        font-weight: 500;
        font-style: italic;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.888);
      z-index: 2;
      opacity: 0.9;
      @media screen and (max-width: 1024px) {
        height: 80vh;
      }
    }
  }
}
.history {
  padding: 30px 0 150px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    padding: 30px 0 120px;
  }
  .container {
    padding: 0;
    max-width: 100%;
    @media screen and (max-width: 767px) {
      padding: 0 20px;
    }
    .title {
      padding: 0 10.8%;
      position: relative;
      @media screen and (max-width: 767px) {
        padding: 0;
      }
      h4 {
        color: var(--beige);
      }
    }
    .wrapHistory {
      .story {
        position: relative;
        border-bottom: 1px solid var(--beige);
        padding: 1% 0;
        .wrapperStory {
          width: 79%;
          transition: 0.4s ease-in-out;
          display: flex;
          align-items: center;
          @media screen and (max-width: 767px) {
            width: 100%;
            padding: 5% 0;
          }
        }
        .wrapInfo1 {
          width: 30%;
          span {
            font-size: 1.9vw;
            line-height: 2vw;
            cursor: pointer;
            margin: 0;
            color: var(--grey);
            @media screen and (max-width: 600px) {
              font-size: 4.8vw;
            }
          }
          p {
            color: var(--grey);
            font-size: 1.2vw;
          }
        }
        .wrapInfo2 {
          width: 70%;
          text-align: center;
          span {
            font-size: 1.9vw;
            line-height: 2vw;
            cursor: pointer;
            margin: 0;
            color: var(--grey);
            @media screen and (max-width: 600px) {
              font-size: 4.8vw;
            }
          }
          p {
            color: var(--grey);
            font-size: 1.2vw;
            @media screen and (max-width: 600px) {
              font-size: 2.8vw;
            }
          }
        }
        .after {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transform-origin: center;
          left: 50%;
          z-index: 2;
          width: 100%;
          height: 0%;
          opacity: 0;
          display: flex;
          align-items: center;
          transition: 0.4s ease-in-out;
          @media screen and (max-width: 1024px) {
            display: none;
          }
          .wrapInfo1 {
            width: 30%;
            span {
              font-size: 1.9vw;
              line-height: 2vw;
              cursor: pointer;
              margin: 0;
              color: var(--nero);
            }
            p {
              color: var(--nero);
              font-size: 1.2vw;
              @media screen and (max-width: 600px) {
                font-size: 2.8vw;
              }
            }
          }
          .wrapInfo2 {
            width: 70%;
            text-align: center;
            span {
              font-size: 1.9vw;
              line-height: 2vw;
              cursor: pointer;
              margin: 0;
              color: var(--nero);
            }
            p {
              color: var(--nero);
            }
          }
        }
        &:hover {
          .after {
            height: 100%;
            opacity: 1;
            transition: 0.4s ease-in-out;
            background-color: var(--rouge);
          }
        }
      }
    }
  }
}
.pensiero {
  width: 100%;
  height: 100vh;
  background-image: url("../media/IMG_6244.jpg");
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  text-align: center;
  text-wrap: balance;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 80vh;
    max-width: 44%;
    min-height: 600px;
    @media screen and (max-width: 600px) {
      max-width: 100%;
    }
    h4,
    h1,
    h5 {
      color: var(--rouge);
    }
    h4 {
      @media screen and (max-width: 1024px) {
        font-size: 2.1vw;
        line-height: 4.2vw;
      }
      @media screen and (max-width: 600px) {
        font-size: 6.1vw;
        line-height: 6.7vw;
      }
    }
    h1 {
      font-size: 3vw;
      line-height: 3.4vw;
      margin-bottom: 11px;
      @media screen and (max-width: 1024px) {
        font-size: 5vw;
        line-height: 5.7vw;
        margin-bottom: 17px;
      }
      @media screen and (max-width: 600px) {
        font-size: 11vw;
        line-height: 13vw;
        margin-bottom: 8px;
      }
    }
    .secondMessage {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      height: 80vh;
      width: 100% !important;
      @media screen and (max-width: 767px) {
        padding: 40px 0 10px !important;
      }
    }
  }
}
.contatti {
  padding: 100px 0;
  @media screen and (max-width: 1024px) {
    padding: 100px 0 124px;
  }
  @media screen and (max-width: 600px) {
    padding: 50px 0 200px;
  }
  .container {
    max-width: 80%;
    @media screen and (max-width: 767px) {
      max-width: 100%;
      padding: 0 35px;
    }
    h4 {
      color: var(--beige);
    }
    .wrapContact {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
      }
      .wrapsSocial {
        width: 33%;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        h5 {
          color: var(--beige);
          font-size: 1.2vw;
          @media screen and (max-width: 767px) {
            font-size: 5.2vw;
          }
        }
        .normalFont {
          color: var(--chiaro);
          font-size: 0.8vw;
          @media screen and (max-width: 1024px) {
            font-size: 1vw;
          }
          @media screen and (max-width: 767px) {
            font-size: 3vw;
          }
          &::before {
            background-image: unset;
          }
        }
        a {
          position: relative;
          color: var(--beige);
          font-size: 2vw;
          @media screen and (max-width: 767px) {
            font-size: 6vw;
          }
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            top: 7px;
            left: -18px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("../media/contact_link.svg");
            @media screen and (max-width: 767px) {
              left: -24px;
            }
          }
        }
        .itemSocial {
          position: relative;
          .after {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center;
            left: 50%;
            z-index: 2;
            width: 100%;
            height: 0%;
            opacity: 0;
            transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
            background-color: var(--rouge);
            a {
              margin: 0 !important;
              opacity: 0;
              transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.2s;
            }
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          &:hover {
            .after {
              height: 100%;
              transform-origin: center;
              opacity: 1;
              transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
              background-color: var(--rouge);
              a {
                color: var(--nero);
                font-size: 2vw;
                opacity: 1;
                transition: cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s;
                @media screen and (max-width: 767px) {
                  font-size: 6vw;
                }
              }
            }
          }
        }
      }
    }
    .secondMessage {
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}
